@charset "utf-8";

/*
* FONT
*/
@font-face {
    font-family: 'champagne__limousinesbold';
    src: url('../fonts/champagne__limousines_bold-webfont.eot');
    src: url('../fonts/champagne__limousines_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/champagne__limousines_bold-webfont.woff') format('woff'),
         url('../fonts/champagne__limousines_bold-webfont.ttf') format('truetype'),
         url('../fonts/champagne__limousines_bold-webfont.svg#champagne__limousinesbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'champagne__limousinesregular';
    src: url('../fonts/champagne__limousines-webfont.eot');
    src: url('../fonts/champagne__limousines-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/champagne__limousines-webfont.woff') format('woff'),
         url('../fonts/champagne__limousines-webfont.ttf') format('truetype'),
         url('../fonts/champagne__limousines-webfont.svg#champagne__limousinesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/****************
|^| HTML5 |^|
****************/
article, aside, audio, canvas, command, detalist, details, embed, figcaption,
figure, footer, header, hgroup, keygen, mark, meter, nav, output, progress,
rp, rt, ruby, section, source, summary, time, video
	{
		display:block;
		margin:0;
		padding:0;
	}


@charset "utf-8";
/* CSS Document */

body{
	margin: 0 auto;
	min-width:1000px;
	padding: 0;
	background-color: #d2d5d5;
	font-family: 'Dorsa', sans-serif;
	font-size-adjust:0.488;
	height:100%;
}

/*html	{ height:100%;}*/

/************************************************** GLOBALS */

#inicio
, #nosotros
, #portafolio
, #blog{
	width: 100%;
	/*height:100%;*/
}

#wrapper{
	width: 100%;
	min-width: 100%;
	/*height: 4730px;*/
	position: relative;
	margin: 0;
}
.wrapper
	{
		top: 0;
		left: 50%;
		width:1000px;
		height:100%;
		position: absolute;
		margin-left: -500px;
		z-index: 25;
	}

.bgPage{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 4660px;
	background: url(../img/bgPage.png) repeat center top;
	z-index: 10;
}

#top-link  
	{
		display:none; 
		width:79px;
		height:110px;
		position:fixed; 
		right:40px;		 
		bottom:40px; 		
		background:url("../img/scrolltop.png") no-repeat center;
		z-index:999;
	}

.story .float-left
, .story .float-right
	{
		padding: 0 0 0 0;
		position: relative;
		width: 350px;
		z-index: 1000;	
	}
.seo
	{
		position: absolute;
		top:5px;
		left:50%;
		text-align: center;
		margin-left:-150px;
		width:300px; 
		z-index: 2000;
		font-family:"Abel", sans-serif;
		font-size: 1rem;
		color:#000;

		text-shadow: 1px 1px 1px #fff;
	}
.galeria
	{
		max-width:1000px;
		max-height:700px;
	}
	.galeria img
		{
			width:100%;
			height:auto;
		}

.title{
	font: normal 48px/64px 'champagne__limousinesregular', 'Calibri', Sans-serif, arial;
	text-transform: uppercase;
	background: url(../img/bgTitleSection.png) center no-repeat;
	width: 337px;
	height: 61px;
	text-align: center; 
}

/*
* TOOL-TIP
*/
.tooltip{
    display: inline;
    position: relative;
    font: 12px/16px 'champagne__limousinesbold', 'Calibri', Sans-serif, arial;
}
.tooltip:hover:after{
    background: #333;
    background: rgba(170,1,28,.6);
    border-radius: 5px;
    bottom: 30px;
    color: #fff;
    content: attr(title);
    left: 0%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 50px;
    text-align: center;
    margin-left: -25px;
}
.tooltip:hover:before{
    border: solid;
    border-color: #840015 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 24px;
    content: "";
    left: 40%;
    position: absolute;
    z-index: 99;
}

.scroll{
	width: 28px;
	height: 56px;
	position: relative;
	margin: 40px auto 0 auto;
	background: transparent url(../img/mouseScrollHover.png) top left no-repeat;
}

.scroll1{
	width: 28px;
	height: 66px;
	position: relative;
	margin: 40px auto 0 auto;
	background: transparent url(../img/mouseScrollHover1.png) top left no-repeat;
}

.scroll2{
	width: 28px;
	height: 66px;
	position: relative;
	margin: 40px auto 0 auto;
	background: transparent url(../img/mouseScrollHover2.png) top left no-repeat;
}

/********************* NAV */
#nav{
	position: absolute;
	width: 100px;
	top: 500px;
	left: 50%;
	margin-left: -50px;
	z-index: 20;
}
	#nav ul{
		width: 88px;
		height: auto;
		margin: 0 auto 
	}
	#nav li{
		width: 100%;
		height: auto;
		background: url(../img/lineaMenu.png) bottom center no-repeat;
		text-align: center;
	}
	#nav li a{
		font: 14px/28px 'champagne__limousinesbold', 'Calibri', Sans-serif, arial;
		text-transform: uppercase;
		color: #fff;
		text-decoration: none;

		/* Firefox */
	    -moz-transition-property: all;
	    -moz-transition-duration: 1s;
	    -moz-transition-timing-function: ease;
	    -moz-transition-delay: 0.2s;
	 
	 
	    /* Chrome / Safari */
	    -webkit-transition-property: all;
	    -webkit-transition-duration: 1s;
	    -webkit-transition-timing-function: ease;
	    -webkit-transition-delay: 0.2s;
	 
	 
	    /* Opera */
	    -o-transition-property: all;
	    -o-transition-duration: 1s;
	    -o-transition-timing-function: ease;
	    -o-transition-delay: 0.2s;
	 
	 
	    /* Default */
	    transition-property: all;
	    transition-duration: 1s;
	    transition-timing-function: ease;
	    transition-delay: 0.2s;
	}
	#nav li:hover:nth-child(1) a, #nav li.active:nth-child(1) a{
		color: #5a287f;
	}
	#nav li:hover:nth-child(2) a, #nav li.active:nth-child(2) a{
		color: #0194aa;
	}
	#nav li:hover:nth-child(3) a, #nav li.active:nth-child(3) a{
		color: #a2c037;
	}
	#nav li:hover:nth-child(4) a, #nav li.active:nth-child(4) a{
		color: #99005f;
	}
	#nav li:hover:nth-child(5) a, #nav li.active:nth-child(5) a{
		color: #312b80;
	}


/********************* NAV SECUNDARIO */
.nav-sec
	{
		position: absolute;
		top:0px;
		right:0;
		z-index: 2000;
		/*background-color: #ffffff;*/
		/*background: transparent url("../img/menu.png") repeat-x center top;*/
		padding: 10px;

		border-radius:0 0 5px 5px;
		-moz-border-radius:0 0 5px 5px;
		-webkit-border-radius:0 0 5px 5px;
	}
	.home-icon
		{
			display:block;
			width:27px;
			height:22px;
			background: url("../img/home-icon.png") no-repeat center;
			float:left;
			margin:11px 10px 0 10px;
		}
		.home-icon:hover
			{
				background: url("../img/home-icon-over.png") no-repeat center;
			}
	.nav-sec nav
	, .nav-sec div.nav
	, .nav-sec img
		{
			float:left;
		}
	.nav-sec nav
		{
			height:30px;
			margin:7px 20px 0 10px;
			background-color: #6d6c6c;
			overflow: hidden;

			border-radius:8px;
				-moz-border-radius:8px;
					-webkit-border-radius:8px;
			box-shadow:1px 1px 0 #fff, inset 2px 2px 5px #333;
				-moz-box-shadow:1px 1px 0 #fff, inset 2px 2px 5px #333;
					-webkit-box-shadow:1px 1px 0 #fff, inset 2px 2px 5px #333;
		}
		.nav-sec nav:hover
			{
				height:auto;
			}
		.nav-sec nav ul
			{
				width:auto;			
				
			}
			.nav-sec nav li
				{
					text-align: center;
					height:30px;
					display:block;
					width:auto;	
					padding:0 8px;
					font-family:"Abel", sans-serif;
					font-size:1rem;
					color:#fff;
					text-decoration: none;
					font-weight: bold;
					cursor:pointer;
					line-height:32px;

					text-shadow:1px 1px 0 #000;
				}
			.nav-sec nav li span
				{
					display: block;
					height:13px;
					width:9px;
					background: url("../img/arrow-menu.png") center no-repeat;
					float: right;
					margin: 8px 15px 0 -10px;
				}
				.nav-sec nav li a
					{
						font-family:"Abel", sans-serif;
						font-size:1rem;
						color:#fff;
						text-decoration: none;
						font-weight: bold;

						text-shadow:1px 1px 0 #000;
					}
				.nav-sec li a:hover
				, .nav-sec li a[name="current"]
					{
						color:#848484;
					}

/************************************************** INICIO */

#inicio{
	background: #C20020 url(../img/bgHome.png) center center repeat-x fixed;
	color: white;
	height: 768px;
	margin: 0 auto;
	padding: 0 0 0 0;
	position: relative;
}

	#inicio .bgMenu{
		background: url(../img/bgMenuHome.png) center top;
		position: absolute;
		left: 50%;
		top: 0px;
		width: 150px;
		height: 768px;
		z-index: 15;
		margin-left: -75px;
	}

	#inicio .logo{
		position: absolute;
		left: 50%;
		top: 50%;
		width: 343px;
		height: 165px;
		z-index: 20;
		margin-left: -172px;
		margin-top: -83px;
	}

	/*
	*SHARE
	*/
	#inicio .share{
		width: 80px;
		height: 80px;
		position: absolute;
		background: url(../img/bgShare.png) center no-repeat;
		top: 193px;
		left: 50%;
		margin-left: -40px;
		z-index: 20;
	}
		#inicio .share ul{
			width: 80px;
			height: 80px;
		}
		#inicio .share li{
			display: block;
			width: 40px;
			height: 40px;
			float: left;
		}
			#inicio .share li a, #inicio .share li a:hover{
				-webkit-transition: background 0.3s linear;
				-moz-transition: background 0.3s linear;
				-o-transition: background 0.3s linear;
				transition: background 0.3s linear;
			}
			#inicio .share li a.fb{
				background: url(../img/share.png) 0px 0px no-repeat;
				width: 27px;
				height: 27px;
				margin: 6px 6px 7px 7px;
				display: block;
			}
				#inicio .share li a.fb:hover{
					background-position: 0px -28px;
				}
			#inicio .share li a.tw{
				background: url(../img/share.png) -38px 2px no-repeat;
				width: 27px;
				height: 27px;
				margin: 6px 6px 7px 7px;
				display: block;
			}
				#inicio .share li a.tw:hover{
					background-position: -38px -26px;
				}
			#inicio .share li a.yt{
				background: url(../img/share.png) -76px 0px no-repeat;
				width: 27px;
				height: 27px;
				margin: 6px 6px 7px 7px;
				display: block;
			}
				#inicio .share li a.yt:hover{
					background-position: -76px -28px;
				}
			#inicio .share li a.ct{
				background: url(../img/share.png) -114px 2px no-repeat;
				width: 27px;
				height: 27px;
				margin: 6px 6px 7px 7px;
				display: block;
			}
				#inicio .share li a.ct:hover{
					background-position: -114px -28px;
				}


/*
NOSOTROS 
*/

#nosotros{
	background: #672382 url(../img/bgNosotros.png) center center repeat fixed;
	color: white;
	height: 768px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}
	#nosotros .bgMenu{
		background: url(../img/bgMenuNosotros.png) center top no-repeat;
		position: absolute;
		left: 42px;
		top: 0px;
		width: 533px;
		height: 768px;
		z-index: 15;
	}
	#nosotros .logo{
		top: 205px;
		left: 0px;
		width: 233px;
		height: 112px;
		position: absolute;
		z-index: 20;
	}
	#nosotros .title{
		margin-left: 462px;
		margin-top: 164px;
	}
	#nosotros #nav{
		top: 360px;
		left: 70px;
		margin: 0px; 
	}
	#nosotros .scroll1{
		margin-top: 90px;
	}
	#nosotros .story .float-left{
		width:726px;
	}
	#nosotros .story{
		margin: 50px 0 0 235px;
	}	
	#nosotros .text{
		float: left;
	    font: 18px/24px 'champagne__limousinesregular','Calibri',Sans-serif,arial;
	    margin: 27px 0 0 270px;
	    text-align: center;
	    width: 726px;
	}


/*
SERVICIOS 
*/
#servicios{
	background: url(../img/bgServicios.png) center center repeat fixed;
	color: white;
	height: 768px;
	padding: 0 0 0 0;
	overflow: hidden;
}
	#servicios .bgMenu{
		background: url(../img/bgMenuServicios.png) center top no-repeat;
		position: absolute;
		left: 42px;
		top: 0px;
		width: 150px;
		height: 768px;
		z-index: 15;
	}
	#servicios .logo{
		top: 120px;
		left: 0px;
		width: 233px;
		height: 112px;
		position: absolute;
		z-index: 20;
	}
	#servicios #nav{
		top: 265px;
		left: 70px;
		margin: 0px; 
	}
	#servicios .scroll1{
		margin-top: 150px;
	}
	#servicios .title{
		margin-left: 486px;
		margin-top: 87px;
	}
	#servicios .text{
		float: left;
	    font: 18px/24px 'champagne__limousinesregular','Calibri',Sans-serif,arial;
	    margin: 27px 0 0 320px;
	    text-align: left;
	    width: 422px;
	}
	#servicios .text li{
		background: url(../img/point.png) left 17px no-repeat;
		padding: 10px 0 0 15px;
	}
	#servicios .text li li{
		background: none;
		padding: 0 0 0 20px;
	}
	#servicios .img{
		margin: 120px 0 0 800px;
	}
	#servicios .img a{
		margin: 80px 0 0 0;
		display: block;
	}

/* 
ESCUELA 
*/
#escuela
	{
		background: url(../img/bgEscuela.png) center center repeat-x fixed;
		color: white;
		height: 768px;
		padding: 0 0 0 0;
		overflow: hidden;
	}
	#escuela .bgMenu{
		background: url(../img/bgMenuEscuela.png) center top no-repeat;
		position: absolute;
		left: 42px;
		top: 0px;
		width: 533px;
		height: 768px;
		z-index: 15;
	}
	#escuela .logo{
		top: 120px;
		left: 0px;
		width: 233px;
		height: 112px;
		position: absolute;
		z-index: 20;
	}
	#escuela #nav{
		top: 265px;
		left: 70px;
		margin: 0px; 
	}
	#escuela .title{
		margin-left: 486px;
		margin-top: 60px;
	}
	#escuela .text{
		float: left;
	    font: 18px/22px 'champagne__limousinesregular','Calibri',Sans-serif,arial;
	    margin: 27px 0 0 320px;
	    text-align: left;
	    width: 680px;
	}
	#escuela .text p{
		text-align: justify;
		margin: 0 0 8px 0;
	}
	#escuela p.right{
		text-align: right;
	}

/*
CURSOS 
*/
#cursos
	{
		background: url(../img/bgCurso.png) center center repeat-x fixed;
		color: white;
		height: 768px;
		padding: 0 0 0 0;
		overflow: hidden;
	}
	#cursos .bgMenu{
		background: url(../img/bgMenuCurso.png) center top no-repeat;
		position: absolute;
		left: 50%;
		top: 0px;
		margin-left: -75px;
		width: 150px;
		height: 768px;
		z-index: 15;
	}
	#cursos .logo{
		top: 120px;
		left: 50%;
		margin-left: -117px;
		width: 233px;
		height: 112px;
		position: absolute;
		z-index: 20;
	}
	#cursos #nav{
		top: 265px;
		left: 50%;
		margin-left: -50px; 
	}
	#cursos .title{
		margin-left: 40px;
		margin-top: 253px;
	}
	#cursos .text, #cursos .text1{
		float: left;
	    font: 18px/24px 'champagne__limousinesregular','Calibri',Sans-serif,arial;
	    text-align: left;
	}
	#cursos .text{
		margin: 27px 0 0 25px;
	    width: 375px;
	}
	#cursos .text1{
		float: right;
		margin: 27px 25px 0 0;
	    width: 375px;
	    z-index: 1000;
	}
	#cursos .text li, #cursos .text1 li{
		background: url(../img/point.png) left 17px no-repeat;
		padding: 10px 0 0 15px;
	}
	#cursos .text li li, #cursos .text1 li li{
		background: none;
		padding: 0 0 0 20px;
	}
	#cursos .scroll1{
		margin-top: 150px;
	}
	#cursos #img1{
		top: 506px;
		left: 75%;
		position: absolute;
	}
	#cursos #img2{
		top: 10px;
		left: 21%;
		position: absolute;
		margin-left: -76px;
	}

/* 
CONTACTO 
*/
#contactanos
	{
		background: url(../img/bgContacto.png) center center repeat-x fixed;
		color: white;
		height: 768px;
		padding: 0 0 0 0;
		overflow: hidden;
	}
	#contactanos .scroll2{
		margin-top: 100px;
	}
	#contactanos .bgMenu{
		background: url(../img/bgMenuContacto.png) center top no-repeat;
		position: absolute;
		left: 50%;
		top: 0px;
		width: 533px;
		height: 768px;
		z-index: 15;
		margin-left: -75px;
	}
	#contactanos .logo{
		top: 195px;
		left: 767px;
		width: 233px;
		height: 112px;
		position: absolute;
		z-index: 20;
	}
	#contactanos #nav{
		top: 345px;
		left: 833px;
		margin: 0px; 
	}
	#contactanos .title{
		margin-left: 216px;
		margin-top: 166px;
	}
	#contactanos .story{
		z-index: 20;
	}
	#contactanos .form{
		width:100%;
		float:left;
		margin:30px 0 0 0;
		color:#000;
		z-index: 20;
	}
		#contactanos .form div{
			float:left;
			margin:0 0 0 55px;					
		}
			#contactanos .form div.sect-1{
				width:275px;
				margin:0;					
			}
			#contactanos .form div h5{
				font-family:"Abel", sans-serif;
				font-size:1.2rem;
				font-weight: bold;
				letter-spacing: -1px;
				margin:5px 0 10px 0;
				text-shadow:1px 1px 0 #bfcdc8;
			}
			#contactanos .form div h5 img{
					float:left;
					margin:-5px 10px 10px 0;
				}
			#contactanos .form div p{
				font-family:"Abel", sans-serif;
				font-size:1rem;
				color:#000;
				text-shadow:1px 1px 0 #bfcdc8;
				position: relative;
			}
			#contactanos .form div p span{
				font-size: 1.1rem;
				font-weight: bold;
				background: rgba(255,255,255,0.6);
				padding: 0 2px;
				border-radius: 5px;
			}
				#contactanos .form div p label.error{
					position: absolute;
					top:42px;
					right:5px;
					font-family:"Abel", sans-serif;
					font-size:0.8rem;
					color:red;
					text-shadow:1px 1px 0px #fff;
				}
			#contactanos .form div h6{
				font-family:"Abel", sans-serif;
				font-size:1.1rem;
				font-weight: bold;
				letter-spacing: -1px;
				margin:10px 0 20px 0;
				text-shadow:1px 1px 0 #bfcdc8;
			}
			#contactanos .form div.sect-2{ width:282px;	}
				#contactanos .form div.sect-2 input
				, #contactanos .form div.sect-2 textarea{
					border:1px solid #999999;
					height:31px;
					width:272px;
					padding:5px;
					margin:10px 0 20px 0;
					font-family:"Abel", sans-serif;
					font-size:1rem;

					border-radius:5px;
					-moz-border-radius:5px;
					-webkit-border-radius:5px;

					box-shadow:1px 1px 0 #fff;
					-moz-box-shadow:1px 1px 0 #fff;
					-webkit-box-shadow:1px 1px 0 #fff;

					background: #e8e8e8; /* Old browsers */
					background: -moz-linear-gradient(top, #e8e8e8 0%, #a7a7a7 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#a7a7a7)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, #e8e8e8 0%,#a7a7a7 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, #e8e8e8 0%,#a7a7a7 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, #e8e8e8 0%,#a7a7a7 100%); /* IE10+ */
					background: linear-gradient(top, #e8e8e8 0%,#a7a7a7 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#a7a7a7',GradientType=0 ); /* IE6-9 */
				}
					#contactanos .form div.sect-2 textarea{	height:125px;	}
					#contactanos .form div.sect-2 input:hover
					, #contactanos .form div.sect-2 input:focus
					, #contactanos .form div.sect-2 textarea:hover
					, #contactanos .form div.sect-2 textarea:focus{
						border:1px solid #D7A025;
					}
					#contactanos .form div.sect-2 input.error
					, #contactanos .form div.sect-2 textarea.error{
						border-color:red;
					}
					#contactanos .form div.sect-2 button
					{
						width:280px;
						height:42px;
						background: url("../img/contactanos-img4.png") center no-repeat;
						border:none;
						font-family:"Abel", sans-serif;
						font-size:1.5rem;
						color:#edeeed;
						text-shadow:1px 1px 1px #333;
						cursor:pointer;
						position: relative;
					}
					#contactanos .footer{
						float:left;
						width:100%;
						height:auto;
						margin:300px 0 0 0;
						color:#2f3131;
						font-family:"Abel", sans-serif;
						font-size:0.9rem;
						text-shadow:1px 1px 0 #ccc;
					}
					#contactanos .footer a{
						text-decoration: none;
						color:#125a7e;									
					}
						#contactanos .footer a:hover{	text-decoration: underline;	}
					#contactanos .footer .float-left
					, #contactanos .footer .float-right{	margin:0;}
						#contactanos .footer .float-left{	text-align: left;}
						#contactanos .footer .float-right{	text-align: right;}

/* 
CONTACTO 
*/
#footer
	{
		background: #672382 url(../img/bgFooter.png) center 0 repeat-x;
		color: white;
		height: 50px;
		padding: 0 0 0 0;
		overflow: hidden;
	}


/************************************************** POPUP */
#inline_content h4
, #cboxLoadedContent h4
	{
		font-family:"Abel", sans-serif;
		font-size:1rem;
		font-weight: bold;
		letter-spacing: -1px;
		margin:5px 0 10px 0;
		text-shadow:1px 1px 0 #ccc;
	}
#cboxLoadedContent h4	{ font-size: 2rem;}
#inline_content h5
, #cboxLoadedContent h5
	{
		font-family:"Abel", sans-serif;
		font-size:0.9rem;
		font-weight: bold;
		letter-spacing: -1px;
		margin:5px 0 10px 0;
		text-shadow:1px 1px 0 #ccc;
	}
#cboxLoadedContent h5	{ font-size: 1rem;}
#inline_content p
, #cboxLoadedContent p
	{
		font-family:"Abel", sans-serif;
		font-size:0.9rem;
		color:#074556;
		text-shadow:1px 1px 0 #ccc;
	}


#header h1, #pixels{
	color: #48941A;
}

.float-left{
	float: left;	
	margin: 0 0 0 30px;
}

.float-right{
	float: right;
	margin: 0 30px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}



#fifth{
	background: #ccc;
	height: 400px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}

.slide {
	width: 100%;
}




@media (min-width: 1000px){
	body
		{
			overflow-x: hidden;
		}

	#nosotros .bg
		{
			max-width:1200px;
		}
}
